@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --text-color: aliceblue;
  --background: #3d3962;
  --primary: #943bd8;
  --secondary: #4470da;
  --secondary-light: #6d92e7;
  --accent: #a66ced;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}

::-webkit-scrollbar-thumb:horizontal {
  background: #888;
  border-radius: 10px;
}
