@import 'cropperjs/dist/cropper.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --text-color: #212121;
  --text-white: aliceblue;
  --text-gray: rgb(155, 155, 155);
  --background: #f0f0f0;
  --background-secondary: #ccc;
  --background-hover: #dcdcdc;
  --primary: #6a6bcf;
  --secondary: #4470da;
  --secondary-light: #6d92e7;
  --accent: #a66ced;
  --danger: red;
  --success: rgb(14, 154, 14);
}
/* .dark-mode body {
  --text-color: aliceblue;
  --background: #3d3962;
  --primary: #943bd8;
  --secondary: #4470da;
  --secondary-light: #6d92e7;
  --accent: #a66ced;
} */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}

::-webkit-scrollbar-thumb:horizontal {
  background: #888;
  border-radius: 10px;
}

/*cropperjs*/
.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}
